/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0, 4%, 15% / 10%);
    z-index: 100;
}

/* .cart11 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
} */
.logo {
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;

}

#cart-icon {
    font-size: 1rem;
    cursor: pointer;
    color: black;
}

/* Cart */
/* .cart{
    position: fixed;
    top: 0;
    right: 0%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
} */

#cart11 {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 0px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    /* border: 1px solid red; */
    z-index: 1000;
    max-height: 100vh;

    /* width: 420px; */


}



/* .cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
} */
#boximage {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
    /* border: 1px solid red; */
}

#brandname {
    font-size: 1rem;
    text-transform: uppercase;
    /* border: 1px solid red; */
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}

/* #total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border: 1px solid var(--text-color);
} */
.total-title {
    font-size: 1rem;
    font-weight: 200;
}

.total-price {
    margin-left: 0.5rem;
}

#btn {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 100px;
    border: none;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    /* margin-top: 400px; */
}

.btn-buy:hover {
    background: var(--text-color);
}

#brandname {
    font-size: 16px;
    /* border: 1px solid red; */
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

#detailbox1 {
    display: grid;
    row-gap: 0.5rem;

    /* border: 1px solid red; */
}

#cartbox1 {

    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.shop {
    margin-top: 2rem;
}

/* shop-content */
.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.product-box {
    position: relative;
}

.product-box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 1.1rem;
    font-weight: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: hsl(249, 32%, 17%);
}

#insidecart {
    /* border: 1px solid red; */
    text-align: center;
    margin: auto;
    /* height: 200px; */
    /* width: 60%; */
}

#insidecart2 img {
    /* width: 30; */
    height: 80px;
    width: 80px;
}

#insidecart2 {
    /* border: 1px solid black; */
    width: 40%;
    text-align: center;
}

#inside {
    display: flex;
    position: fixed;
    background-color: white;
    width: 34%;
    border-bottom: 1px solid rgb(220, 218, 218);
}


/* #cart11>div{
    display: flex;
    height: auto;
    padding: 10px;
    border-bottom: 1px solid rgb(220, 218, 218);
    gap: 5px;
} */
#qwery {
    overflow-y: scroll;
    height: 550px;

}

#last {
    text-align: center;
}

#qwery>div {
    display: flex;
    height: auto;
    padding: 10px;
    border-bottom: 1px solid rgb(220, 218, 218);
}

#qwery>div:nth-child(1) {
    margin-top: 80px;
}



#inside>div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
}



#cart11 p {
    font-size: 12px;
    font-weight: 800;
}



/* #cart11{
    display: flex;
} */

#last>div {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    /* font-size: 12px; */

}

#last button {
    background-color: black;
    color: white;
    width: 80%;
    padding: 8px;

}

#removebtn {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}