#checkout{
    width: 85%;
    /* height: 450px; */
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0
}
#shippingDetails{
    width: 53%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    /* flex-grow: 1; */
    flex-shrink: 0;
    float: left;
    /* border: 1px solid red; */
}
#userCartinfo{
    width: 45%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    /* flex-grow: 1; */
    flex-shrink: 0;
    float: right;
    /* border: 1px solid black; */
}
#shippingDetails .sitelogo{
    margin-top: 55px;
}
#shippingDetails #icons{
    font-size: 12px;
    align-items: center;
    height: 25px;
    width: 100%;
    margin-top: 15px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#shippingDetails #icons i{
    margin: 5px 5px;
}
#shippingDetails #icons a{
    text-decoration: none;
    color: rgb(25, 19, 19);
}
#expressCheckout{
    width: 90%;
}
#expressCheckout .title {
    border-top: 1px solid #aaa;
    /* border-bottom: none;
    border-left: none;
    border-right: none;
    display: block; */
    text-align: center;
    display: flex;
    gap:1%;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ebebeb;
}

#expressCheckout .title legend {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#expressCheckout img{
    margin-top: 5px;
    margin-bottom: 5px;
}
#expressCheckout .Or {
    border-top: 1px solid #ebebeb;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
    margin-top: 25px;
}
#expressCheckout .Or legend {
    padding: 5px 10px;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#shippingDetails #ContactInformation{
    width: 90%;
    /* border: 1px solid red; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#shippingDetails #ContactInformation #liveUser{
    display: flex;
    /* border: 1px solid red; */
    margin:auto;
}
#liveUser .liveUser{
    margin-left: 20px;
    font-size: 14px;
    display: flex;
    margin-top: -10px;
    flex-direction: column;
    /* border: 1px solid red; */
}
#liveUser .liveUser a{
    text-decoration: none;
    color: black;
    margin-top: -10px;
}
#ContactInformation h2{
    font-size: 18px;
    font-weight: 400;
}
#ShippingAddress input{
    /* border: 1px solid red; */
    border: 1px solid #cabebe;
    border-radius: 5px;
}
#ShippingAddress .FirstLastName{
    display: flex;
    gap: 10px;
}
#ShippingAddress .FirstLastName input{
    width: 256px;
    height: 40px;
}
#ShippingAddress .cityAddress,.PhoneNo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
#ShippingAddress .cityAddress input, .PhoneNo input{
    width: 97.5%;
    height: 40px;
}
#ShippingAddress .countryAddress{
    display: flex;
    height: 40px;
    gap: 11px;
    margin-top: 20px;
}
#ShippingAddress .countryAddress select{
    width: 31%;
    border-radius: 5px;
    color: #757575;
}
#ShippingAddress .Continuetoshipping{
    margin-top: 20px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
#ShippingAddress .Continuetoshipping #ToShipping{
    width: 180px;
    height: 60px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background-color: black;
}
#ShippingAddress .Continuetoshipping a{
    color: black;
    text-decoration: none;
}
#ShippingAddress .Continuetoshipping button{
    border-radius: 10px;
}


#userCartinfo{
    background-color:#fafafa;
    /* border: 1px solid red; */
}
#insidecart{
    /* border: 1px solid black; */
    overflow-y: scroll;
    height: 350px;
    padding: 10px;
    margin-top: 8%;
    border-bottom: black;
}
 
/* #one div{
    border: 1px solid black;
} */

#one{
    /* border: 1px solid red; */
     border-bottom: 1px solid rgb(66, 64, 64);
}

#one>div{
    display: flex;
    justify-content: space-between;
  
    /* border-bottom: black; */
    gap: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#image{
    width: 50px;
    /* border: 1px solid red; */
    padding: 10px;
}

#price{
 margin-top: 40px;
  /* border: 1px solid red; */
}
#three{
    font-weight:lighter;
    border-bottom: 1px solid rgb(66, 64, 64);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#three .sub{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color:#535353;
   
    /* border: 1px solid black; */
}
#four{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* border-bottom: black; */
    border-bottom: 1px solid rgb(66, 64, 64);
    padding: 10px;
    color:#535353;
    font-weight: lighter;
    gap: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#three .ship{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: -50px;
    color:#535353;
    /* border: 1px solid black; */
}
#two{
    display: flex;
    /* justify-content: space-around; */
    height: 40px;
    padding: 20px;
    gap: 20px;
    border-bottom: 1px solid rgb(66, 64, 64);
    /* border: 1px solid black; */
}
#two button {
    width: 80px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
#two input{
    width: 300px;
}
#main{
    border-bottom: 1px solid rgb(66, 64, 64);
}