 #container {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 20px;
 }

 #container>div>div>img {
     width: 193px;
     height: 290px;
 }

 #container>div>div {
     text-align: center;
     /* border: 1px solid blue; */
 }

 /* #container>div {
     border: 1px solid red;
 } */

 #container>div>div:nth-child(3) {
     display: flex;
     justify-content: space-around;
 }

 #container>div>div:nth-child(3)>p {
     margin: 3px;
     margin-left: 8px;
 }

 #container>div>div:nth-child(4)>p {
     margin: 3px;
     margin-left: 8px;
 }

 #container>div>div:nth-child(2),
 h4 {
     margin: 5px;
     text-transform: uppercase;
     white-space: nowrap;
     width: 180px;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 #main {
     width: 80%;
     margin: auto;
     /* border: 1px solid red; */
 }

 #main>div:nth-child(1) {
     text-align: center;
 }

 #main>div:nth-child(2) {
     display: flex;
     justify-content: space-between;
     /* border: 1px solid red; */
 }

 #main>div:nth-child(2)>div {
     display: flex;
     /* justify-content: center; */
     align-items: center;
 }

 #main>div:nth-child(2)>div>select {
     font-weight: bold;
 }

 #box {
     display: flex;
 }

 /* #box > div {
           
        } */
 #box>div:nth-child(1) {
     width: 20%;
 }

 #box>div:nth-child(2) {
     width: 80%;
     /* border: 1px solid blue; */
 }

 #sort>option {
     text-transform: uppercase;
 }

 #sort {
     width: 60%;
     border-color: rgb(169, 169, 169);
     border-radius: 5px;
 }

 #myDiv {
     width: 90%;
     height: 80px;
     overflow-y: scroll;
     scrollbar-width: 10px;
 }

 #myDiv2 {
     width: 90%;
     height: 80px;
     overflow-y: scroll;
     scrollbar-width: 10px;
 }

 #sidebar>p {
     font-size: 13px;
     font-weight: bold;
     padding: 15px 0px;
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(186, 191, 196, 0.15) 0px 0px 0px 1px;
     margin: 0;
 }

 i {
     height: 10px;
     width: 9px;
     color: rgb(165, 164, 164);
     margin-right: 5px;
 }

 label {
     color: rgb(94, 93, 93);
 }