*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#shippingitem{
    width: 85%;
    height: 450px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0
}
#shippingitemDetails{
    width: 53%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    /* flex-grow: 1; */
    flex-shrink: 0;
    float: left;
    /* border: 1px solid red; */
}
#SelectedItems{
    width: 45%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    /* flex-grow: 1; */
    flex-shrink: 0;
    float: right;
    border: 1px solid black;
}
#shippingitemDetails .sitelogo{
    margin-top: 55px;
}
#shippingitemDetails #siteicons{
    font-size: 12px;
    align-items: center;
    height: 25px;
    width: 100%;
    margin-top: 15px;
    text-decoration: none;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
*/}
#shippingitemDetails #siteicons i{
    margin: 5px 5px;
}
#shippingitemDetails #siteicons a{
    text-decoration: none;
    color: rgb(25, 19, 19);
}
#shippingitemDetails #shippingAdd{
    border: 1px solid #9a9a9a;
    width: 90%;
    border-radius: 5px;
    padding-left: 8px;
    margin-top: 20px;
    padding-right: 8px;
}
#shippingAdd .contactInfo, #shippingAdd .shippInfo, #shippingAdd .methodInfo {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    /* border: 1px solid red; */
}
#shippingAdd .shippInfo{
    margin-top: -10px;
    margin-bottom: 5px;
}
#shippingAdd .contactInfo #email, #shippingAdd .shippInfo #address, #shippingAdd .methodInfo #methodfree {
    margin-left: 35px;
    width: 70%;
    font-size: 14px;
    /* border: 1px solid red; */
}
#shippingAdd .contactInfo .contact, #shippingAdd .shippInfo .shipto , #shippingAdd .methodInfo .method{
    /* border: 1px solid red; */
    font-size: 14px;
    color: #7a7aa3;
}
#shippingAdd .contactInfo a, #shippingAdd .shippInfo a, #shippingAdd .methodInfo a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-left: 35px;
    /* border: 1px solid red; */
}
#shippingAdd .methodInfo{
    margin-top: -8px;
    margin-bottom: 5px;
}

#shippingitem #shippingMethod .free{
    width: 88%;
    height: 42px;
    padding-left: 8px;
    border-radius: 5px;
    padding-right: 20px;
    font-size: 14px;
    border: 1px solid #9a9a9a;
}
#shippingitem #shippingMethod .free #standard, #shippingitem #shippingMethod .free #free{
    margin-top: 12px;
} 
#shippingMethod h2{
    font-size: 18px;
    line-height: 1.3em;
    font-weight: normal;
} 
#shippingitemDetails .ContinuetoPayment{
    /* border: 1px solid red; */
    width: 93%;
}

#shippingitemDetails .ContinuetoPayment{
    margin-top: 20px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
#shippingitemDetails .ContinuetoPayment #ToShipping{
    width: 180px;
    height: 60px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background-color: black;
}
#shippingitemDetails .ContinuetoPayment a{
    color: black;
    text-decoration: none;
}
#shippingitemDetails .ContinuetoPayment button{
    border-radius: 10px;
}


#SelectedItems{
    background-color:#fafafa;
    border: 1px solid red;
}

/* new added  */

#userCartinfo{
    background-color:#fafafa;
    /* border: 1px solid red; */
}
#insidecart{
    /* border: 1px solid black; */
    overflow-y: scroll;
    height: 350px;
    padding: 10px;
    margin-top: 8%;
    border-bottom: black;
}
 
/* #one div{
    border: 1px solid black;
} */

#one{
    /* border: 1px solid red; */
     border-bottom: 1px solid rgb(66, 64, 64);
}

#one>div{
    display: flex;
    justify-content: space-between;
  
    /* border-bottom: black; */
    gap: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#image{
    width: 50px;
    /* border: 1px solid red; */
    padding: 10px;
}

#price{
 margin-top: 40px;
  /* border: 1px solid red; */
}
#three{
    font-weight:lighter;
    border-bottom: 1px solid rgb(66, 64, 64);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#three .sub{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color:#535353;
   
    /* border: 1px solid black; */
}
#four{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* border-bottom: black; */
    border-bottom: 1px solid rgb(66, 64, 64);
    padding: 10px;
    color:#535353;
    font-weight: lighter;
    gap: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#three .ship{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: -50px;
    color:#535353;
    /* border: 1px solid black; */
}
#two{
    display: flex;
    /* justify-content: space-around; */
    height: 40px;
    padding: 20px;
    gap: 20px;
    border-bottom: 1px solid rgb(66, 64, 64);
    /* border: 1px solid black; */
}
#two button {
    width: 80px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
#two input{
    width: 300px;
}
#main{
    border-bottom: 1px solid rgb(66, 64, 64);
}